body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #FF205F;
}

.badge.new {
    background-color: #4EAE60;
}

.badge.new {
    background-color: #694EAE;
}

.badge.new,
.badge.adventure {
    background-color: #40ABF5;
}

.badge.Awesome-tournament {
    background-color: #FFB320;
    color: #252525;
}

.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
/* end: global style rules */

/* start: header styles */
header {
    background-color: #131313;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #FFB320;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #FFB320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

/* end: header styles */

/* start: war_zone styles */
#war_zone {
    background: url('../images/apex.jpg') top right no-repeat;
    /* background: url('../images/cyber_punk.jpg') bottom left no-repeat; */
    height: 200px;
}

.war_zone-marketing-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.war_zone-marketing-text h1 {
    color: rgb(14, 13, 13);
    font-size: 1.5em;
    font-weight: 350;
    margin: 0.5em 0;
}

.war_zone-marketing-text span {
    color: #FFB320;
}

.war_zone-marketing-text h5 {
    color: rgb(12, 12, 12);
    font-size: 0.85em;
    font-weight: 500;
    max-width: 500px;
    line-height: 2;
    margin-bottom: 2.5em;
}

.war_zone-marketing-text button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* end: war_zone styles */

/* start: latest news styles */
#latest-news {
    margin-bottom: 75px;
}

#latest-news .flex {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
}

#latest-news .flex h5 {
    flex-basis: 25%;
    background-color: #FFB320;
    padding: 25px;
    margin: 0;
    text-align: right;
    color: #eee;
    font-size: 1.2em;
}

#latest-news-container {
    background-color: #131313;
    position: relative;
    flex-basis: 75%;
    padding: 25px;
}

#latest-news-container .badge {
    margin-right: 20px;
}

#latest-news-container .latest-news-text {
    color: #eee;
}
/* end: latest news styles */

/* start: game types styles */
#game-types-boxes {
    margin-bottom: 75px;
}

#game-types-boxes .box {
    flex-basis: 25%;
    position: relative;
    height: 380px;
}

#game-types-boxes .box.new {
    background: url('../images/destiny.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box.strategy {
    background: url('../images/call_of_duty.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box.racing {
    background: url('../images/minecraft.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box.action {
    background: url('../images/black_ops.jpg') top center no-repeat;
    background-size: cover;
}

#game-types-boxes .box .badge {
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
}

#game-types-boxes .box .contents {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0;
    color: #eee;
    padding: 0 35px 0 25px;
}

/* end: game types styles */

/* start: recent games styles */
#recent-games {
    background: url('../images/assassins_creed_valhalla.jpg') top center no-repeat;
    background-color: #eef2f6;
    border-top: 1px solid #d6dee7;
    border-bottom: 1px solid #d6dee7;
    padding: 70px 0 120px;
}

#recent-games h1 {
    text-align: top right;
    color: #0a0a0a;
}

#recent-games .box {
    position: relative;
    flex-basis: 31%;
    background-color: #fff;
}

#recent-games .box .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#recent-games .box img {
    width: 100%;
}

#recent-games .box .box-lower-section {
    padding: 20px;
}

#recent-games .box .box-lower-section p {
    color: #999;
}

#recent-games .box .box-lower-section a {
    color: #999;
    font-size: 0.8em;
}
/* end: recent games styles */

/* start: recent reviews styles */
#recent-reviews {
    background-color: #eee;
    background-size: cover;
    padding: 75px 0 50px;
}

#recent-reviews h1 {
    text-align: center;
    margin-bottom: 1.65em;
}

#recent-reviews .box {
    flex-basis: 23%;
    position: relative;
    text-align: center;
}

#recent-reviews .box .rating-badge {
    border-radius: 28px;
    padding: 13px;
    font-size: 1.1em;
    color: #eee;
    font-weight: 600;
    background-color: #FFB320;
    position: absolute;
    top: -30px;
    left: 30px;
}

#recent-reviews .box .rating-badge.purple {
    background-color: #694EAE;
}

#recent-reviews .box .rating-badge.green {
    background-color: #4EAE60;
}

#recent-reviews .box .rating-badge.violet {
    background-color: #FF20AE;
}

#recent-reviews .box .recent-reviews-image {
    margin-bottom: 0.75em;
    overflow: hidden;
}

#recent-reviews .box .recent-reviews-image img {
    width: 100%;
}

#recent-reviews .box p {
    color: #999;
}
/* end: recent reviews styles */

/* start: media queries */

@media (max-width: 767px) {
    h4 {
        font-size: 1.2em;
    }

    .flex {
        max-width: 540px;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 101%;
        width: 100%;
        background-color: #131313;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
    }

    nav ul li {
        display: block;
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #FFB320;
        margin: 0;
    }

    nav ul li a {
        font-size: 1em;
    }

    .hamburger-menu {
        display: block;
        margin-top: 2px;
    }

    #logo-image {
        height: 650px;
        background-size: cover;
    }

    .war_zone-marketing-text {
        margin-top: -85px;
    }

    .war_zone-marketing-text h1 {
        font-size: 2.5em;
    }

    #latest-news .flex h5 {
        display: none;
    }

    #latest-news-container {
        flex-basis: 100%;
    }

    #recent-games {
        padding: 60px 0;
    }

    #game-types-boxes .box,
    #recent-games .box {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    #recent-games .flex{
        flex-wrap: wrap;
    }

    #recent-reviews .box {
        flex-basis: 100%;
    }

    #recent-reviews .box .recent-reviews-image {
        height: 400px;
    }
} 
/* end: media queries */


