<!DOCTYPE html>
<html>
    <head>
        <title>Steam Player Data</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
        <link href="static/css/styles2.css" rel="Stylesheet" type="text/css" />
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
      <div class="flex">
          <div class="logo">
              <a href="#"><img src="static/images/war_zone.jpg" alt="War Zone" /></a>
          </div>
          <nav>
              <button id="nav-toggle" class="hamburger-menu">
                  <span class="strip"></span>
                  <!-- <span class="strip"></span>
                  <span class="strip"></span> -->
              </button>
              <ul id="nav-menu-container">
                <!-- <li><a href="index.html">Home</a></li> -->
                <li><a href="#">Steam Player Data</a></li>
                  <!-- <li><a href="map.html">MS Games Map</a></li> -->
                  <!-- <li><a href="MSDetail.html">Ms Detail Games</a></li> -->
                  <li><a href="PCGames.html">PC Games</a></li>
              </ul>
          </nav>
      </div>
  </header>

  <body>
    <div style='color: #000'>
      <select id="game-select" onchange="optionChanged(this)">
        <option>Select a game to display data</option>
      </select>
  </div>
      <div id="plot"></div>
      <script src="static/js/top100plot.js"></script>
  </body>

<div>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Top 5 Steam Games: Number of Current Players </title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
     <canvas id="myChart" width="800" height="300"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="static/js/s_top5.js"></script>
</div>

<div>
<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number of Users Chart</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
 <canvas id="myChart" width="800" height="300"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="static/js/users_script.js"></script>
</div>
</html>
